<template>
  <dialog-modal
    :title="'确认投注'"
    :visible="dialogIsVisible"
    @dialog-on-close="dialogIsVisible = false"
    @dialog-on-confirm="hideAndConfirm"
  >
    <p>共{{ count }}注{{ total }}元</p>
  </dialog-modal>
  <ball-size
    :ballList="redBallList"
    :ballType="redState.ballType"
    @select-right="selectRed"
  ></ball-size>
  <ball-size
    :ballList="blueBallList"
    :ballType="blueState.ballType"
    @select-right="selectblue"
  ></ball-size>
  <count-bar
    :total="total"
    :count="count"
    @select-clear="selectClear"
    @select-confirm="selectConfirm"
  ></count-bar>
</template>

<script lang="ts">
import BallSize from "@/components/BallSize.vue";
import CountBar from "@/components/CountBar.vue";
import {
  defineComponent,
  PropType,
  ref,
  toRefs,
  reactive,
  computed,
  watchEffect,
} from "vue";
import { notesTotal, checkBallList } from "@/utils/utils";
import { IBallState, IBallType, ICheckList } from "@/types";
import { initBall } from "@/hooks/useInitBall";
import DialogModal from "@/components/common/Dialog.vue";
import OrderApi from "@/api/order";
import Toast from "@/components/common/Toast/index";
export default defineComponent({
  components: {
    BallSize,
    CountBar,
    DialogModal,
  },
  props: {
    redState: {
      type: Object as PropType<IBallType>,
      required: true,
    },
    blueState: {
      type: Object as PropType<IBallType>,
      required: true,
    },
    lotteryType: {
      type: String,
      required: true,
    },
  },
  emits: ["select-confirm"],
  setup(props) {
    const { redState, blueState, lotteryType } = toRefs(props);
    const redBallList = ref<IBallState[]>([]);
    const blueBallList = ref<IBallState[]>([]);
    let dialogIsVisible = ref(false);
    const allCheckList = reactive<ICheckList<IBallState>>({
      redList: [],
      blueList: [],
    });
    redBallList.value = initBall(redState.value.amount);
    blueBallList.value = initBall(blueState.value.amount);
    const selectRed = (id: number) => {
      redBallList.value[id].active = !redBallList.value[id].active;
    };
    const selectblue = (id: number) => {
      blueBallList.value[id].active = !blueBallList.value[id].active;
    };
    // 清空选中小球
    const selectClear = () => {
      redBallList.value = initBall(redState.value.amount);
      blueBallList.value = initBall(blueState.value.amount);
      Toast({
        message: "已清空",
        delay: 2000,
      });
    };
    // 确认下注
    const selectConfirm = () => {
      if (total.value > 0) {
        dialogIsVisible.value = true;
      } else {
        Toast({
          message: "请按规则选择",
          delay: 2000,
        });
      }
    };
    const hideAndConfirm = () => {
      const red = checkBallList(allCheckList.redList);
      const blue = checkBallList(allCheckList.blueList);
      const payload = {
        red,
        blue,
        total: total.value,
        count: count.value,
        type: lotteryType.value,
        number: `${red},${blue}`,
        moment: new Date().valueOf(),
      };
      OrderApi.postOrder(payload).then(() => {
        redBallList.value = initBall(redState.value.amount);
        blueBallList.value = initBall(blueState.value.amount);
        dialogIsVisible.value = false;
        Toast({
          message: "下注成功",
        });
      });
      OrderApi.fetchORder();
    };
    watchEffect(() => {
      allCheckList.redList = redBallList.value.filter(
        (item: IBallState) => item.active
      );
    });
    watchEffect(() => {
      allCheckList.blueList = blueBallList.value.filter(
        (item: IBallState) => item.active
      );
    });
    const count = computed(() => {
      return (
        notesTotal(allCheckList.redList.length, redState.value.leastPcs) *
          notesTotal(allCheckList.blueList.length, blueState.value.leastPcs) ||
        0
      );
    });
    const total = computed(() => {
      return count.value * 2 || 0;
    });
    return {
      redBallList,
      blueBallList,
      selectRed,
      selectblue,
      count,
      total,
      selectClear,
      selectConfirm,
      dialogIsVisible,
      hideAndConfirm,
      allCheckList,
    };
  },
});
</script>
