<template>
  <div class="chromo-wrap">
    <rule-tips :tips="tips"></rule-tips>
    <presenter-modal
      :redState="redState"
      :blueState="blueState"
      :lotteryType="lotteryType"
    ></presenter-modal>
  </div>
</template>
<script lang="ts">
import { defineComponent, reactive, ref } from "vue";
import RuleTips from "@/components/RuleTips.vue";
import PresenterModal from "./widgets/PresenterModal.vue";
export default defineComponent({
  name: "ChromoSphere",
  components: {
    PresenterModal,
    RuleTips,
  },
  setup() {
    const tips = ref("至少选择5个红球，2个蓝球");
    const lotteryType = ref("super-lotto");
    const redState = reactive({
      amount: 36,
      ballType: "red",
      leastPcs: 5,
    });
    const blueState = reactive({
      amount: 13,
      ballType: "blue",
      leastPcs: 2,
    });
    return {
      tips,
      redState,
      blueState,
      lotteryType,
    };
  },
});
</script>

<style lang="scss" scoped>
.chromo-wrap {
  width: 100%;
}
</style>
