<template>
  <teleport to="#toast">
    <div class="toast-mod" v-if="visible">
      <transition name="transToast">
        <div class="toast-mod-inner">
          <div class="toast-mod-message">{{ message }}</div>
        </div>
      </transition>
    </div>
  </teleport>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import useDOMCreate from "@/hooks/useDomCreate";
export default defineComponent({
  props: {
    message: {
      type: String,
      default: "",
    },
  },
  emits: ["close-message"],
  setup(props, { emit }) {
    useDOMCreate("toast");
    const visible = ref(true);
    const close = () => {
      visible.value = false;
      emit("close-message", true);
    };
    return { visible, close };
  },
});
</script>

<style lang="scss" scoped>
.toast-mod {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  padding: pxTorem(10);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  .toast-mod-inner {
    position: relative;
    bottom: -20%;
    padding: pxTorem(12) pxTorem(24);
    border-radius: 12px;
    @include font-dpr(14px);
    color: $border-color-base;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .transToast-enter-active,
  .transToast-leave-active {
    transition: all 0.3s;
  }
  .transToast-enter-from,
  .transToast-leave-to {
    opacity: 0;
    transform: translateY(100%);
  }
}
</style>
