<template>
  <div class="ball-mod">
    <ul class="ball-mod-wrap">
      <li
        @click="selectRight(item.id)"
        v-for="item in ballList"
        :key="item.id"
        class="ball-mod-wrap-li"
        :class="[item.active ? `rank-${ballType}` : '', ballColor]"
      >
        {{ item.num }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from "vue";
import { IBallState } from "@/types";
export default defineComponent({
  name: "BallSize",
  emits: ["select-right"],
  props: {
    ballType: {
      type: String,
      default: "red",
    },
    ballList: {
      type: Array as PropType<IBallState[]>,
      default: () => [],
      require: true,
    },
  },
  setup(props, { emit }) {
    const ballColor = computed(() => {
      return `ball-mod-wrap-${props.ballType}`;
    });
    const selectRight = (id: number) => {
      emit("select-right", id);
    };
    return {
      selectRight,
      ballColor,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.ball-mod {
  // background-color: $color-text-lighter;
  // margin: pxTorem(15);
  @include border-1px($border-color-base, $poses: "top");
  .ball-mod-wrap {
    padding: pxTorem(10);
    display: flex;
    flex-wrap: wrap;
    .ball-mod-wrap-li {
      width: pxTorem(42);
      height: pxTorem(42);
      text-align: center;
      line-height: pxTorem(42);
      @include font-dpr();
      border: 1px solid #ccc;
      border-radius: 50%;
      margin: pxTorem(3);
      &.rank-red {
        color: $color-white;
        background-color: $color-danger;
      }
      &.rank-blue {
        color: $color-white;
        background-color: $color-blue;
      }
    }
    .ball-mod-wrap-red {
      color: $color-danger;
      border: 1px solid $color-danger;
    }
    .ball-mod-wrap-blue {
      color: $color-blue;
      border: 1px solid $color-blue;
    }
  }
}
</style>
