<template>
  <div class="count-mod">
    <div class="count-mod-clear handle-btn" @click="clear">清空</div>
    <div class="count-mod-info">共{{ count }}注{{ total }}元</div>
    <div class="count-mod-confirm handle-btn" @click="confirm">确定</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  props: ["count", "total"],
  emits: ["select-clear", "select-confirm"],
  setup(props, { emit }) {
    const clear = () => {
      emit("select-clear");
    };
    const confirm = () => {
      emit("select-confirm");
    };
    return {
      clear,
      confirm,
    };
  },
});
</script>

<style lang="scss" scoped>
.count-mod {
  display: flex;
  line-height: 1.5rem;
  height: 1.5rem;
  background-color: $color-danger;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  color: $color-white;
  @include font-dpr();
  .handle-btn {
    width: 1rem;
    padding: 0 0.36rem;
    text-align: center;
  }
  .count-mod-clear {
    position: relative;
    .count-mod-clear-btn {
      display: inline-block;
    }
    @include border-1px($border-color-base, "right");
    &::after {
      transform: scale(0.5);
    }
  }
  .count-mod-confirm {
    position: relative;
    .count-mod-confirm-btn {
      display: inline-block;
    }
    @include border-1px($border-color-base, "left");
    &::after {
      transform: scale(0.5);
    }
  }
  .count-mod-info {
    flex: 1;
    text-align: center;
  }
}
</style>
