<template>
  <p class="ball-mod-tips">{{ tips }}</p>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    tips: {
      type: String,
      default: "",
    },
  },
});
</script>

<style lang="scss" scoped>
.ball-mod-tips {
  text-align: left;
  color: $color-theme;
  @include font-dpr(14px);
  padding: pxTorem(12) pxTorem(8);
}
</style>
