<template>
  <div class="tab-mod">
    <div class="tab-mod-item" v-for="item in tabList" :key="item.name">
      <RouterLink class="tab-mod-item-link" :to="item.path">{{
        item.name
      }}</RouterLink>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
interface TabData {
  name: string;
  path: string;
}
export default defineComponent({
  name: "TabItem",
  setup() {
    const tabList: TabData[] = [
      { name: "双色球", path: "/chromo-sphere" },
      { name: "大乐透", path: "/super-lotto" },
    ];
    return {
      tabList,
    };
  },
});
</script>

<style lang="scss" scoped>
.tab-mod {
  width: 100%;
  display: flex;
  height: pxTorem(50);
  line-height: pxTorem(50);
  color: $color-text-regular;
  background: $color-theme;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include font-dpr();
  .tab-mod-item {
    flex: 1;
    text-align: center;
    .tab-mod-item-link {
      height: pxTorem(50);
      color: $color-text-secondary;
      display: block;
      box-sizing: border-box;
    }
    &:nth-of-type(1) {
      position: relative;
      @include border-1px($border-color-base, "right");
    }
  }
  .router-link-active {
    font-weight: 700;
    color: #fff !important;
    border-bottom: 3px solid $color-danger;
  }
}
</style>
