<template>
  <teleport to="#dialog">
    <div class="dialog-overlay" v-if="visible"></div>
    <div class="dialog-mod" v-if="visible">
      <div class="dialog-mod-header">{{ title }}</div>
      <div class="dialog-mod-content">
        <slot></slot>
      </div>
      <div class="dialog-mod-footer">
        <button type="button" class="btn btn-cancel" @click="onClose">
          取消
        </button>
        <button type="button" class="btn btn-confirm" @click="onConfirm">
          确认
        </button>
      </div>
    </div>
  </teleport>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import useDOMCreate from "@/hooks/useDomCreate";
export default defineComponent({
  name: "Dialog",
  props: {
    title: {
      type: String,
      default: "标题",
    },
    visible: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["dialog-on-close", "dialog-on-confirm"],
  setup(props, { emit }) {
    useDOMCreate("dialog");
    // 点击取消按钮 发送事件
    const onClose = () => {
      emit("dialog-on-close");
    };
    // 点击确定按钮 发送事件
    const onConfirm = () => {
      emit("dialog-on-confirm");
    };
    return {
      onClose,
      onConfirm,
    };
  },
});
</script>

<style lang="scss" scoped>
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2003;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.dialog-mod {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 90%;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
  background-color: #fff;
  border-radius: 16px;
  z-index: 2004;
  transform: translate(-50%, -50%);
  .dialog-mod-header {
    padding-top: pxTorem(26);
    font-weight: 500;
    line-height: pxTorem(24);
    text-align: center;
  }
  .dialog-mod-content {
    max-height: 60vh;
    padding: pxTorem(26) pxTorem(24);
    overflow-y: auto;
    @include font-dpr(14px);
    line-height: pxTorem(20);
    white-space: pre-wrap;
    text-align: center;
    word-wrap: break-word;
  }
  .dialog-mod-footer {
    display: flex;
    overflow: hidden;
    user-select: none;
    background-color: $border-color-base;
    .dialog-mod-cancel {
      flex: 1;
      margin: 0;
      border: 0;
      height: pxTorem(48);
    }
    .btn {
      flex: 1;
      margin: 0;
      border: 0;
      height: pxTorem(48);
    }
    .btn-confirm {
      color: $color-danger;
      @include border-1px($color-text-secondary, $poses: "left");
    }
  }
}
</style>
