<template>
  <div class="container">
    <tab-item />
    <router-view v-slot="{ Component }" class="router-view">
      <keep-alive>
        <component :is="Component" />
      </keep-alive>
    </router-view>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

import TabItem from "@/components/TabItem.vue";
export default defineComponent({
  components: {
    TabItem,
  },
});
</script>
>
<style lang="scss">
.router-view {
  margin-top: pxTorem(50);
  height: calc(100vh - 2.68rem);
  overflow-y: scroll;
}
</style>
