@import './varible.scss';

@mixin border-1px($color: $border-color-base, $poses: $border-poses) {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    @each $pos in $poses {
      border-#{$pos}: 1px solid $color;
      #{$pos}: 0
    }
    @if $poses == 'top' or $poses == 'bottom' {
      top: 0;
      right: 0;
      transform: scaleY(0.5);
    }
    @if $poses == 'left' or $poses == 'right' {
      top: 0;
      bottom: 0;
      transform: scaleX(0.5);
    }
  }
}

@mixin font-dpr ($font-size: $font-size-base) {
  font-size: $font-size;
  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
      font-size: $font-size * 3;
  }
}

@function pxTorem($px){//$px为需要转换的字号
  @return ceil($px / 37.5 * 100) / 100 * 1rem;
}