$color-golden: #ffb400;
$color-danger: #ee0a24;
$color-blue: #1e7dd7;
$color-white: #ffffff;
$color-theme: #1c2635;

$font-size-extra-large: 25px;;
$font-size-base: 16px;
$color-text-primary: #767e8f;
$color-text-regular: #606266;
$color-text-secondary: #aaa;
$color-text-lighter: #c0c4cc;

$border-color-base: #eee;
$border-color-golden: $color-golden;
$border-radius-base: 4px;
$border-radius-small: 2px;
$bordered: 1px solid $border-color-base;

$headerHeight: 56px;
$border-poses: top, right, bottom, left;